.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(239, 244, 245, 0.836);
    color: rgb(9, 2, 24);
    text-align: right;
    margin: 0px;
    }