table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}

// .mat-icon{
//   display: inline-flex;
//   vertical-align: top;
// }

.mat-table {
  overflow: auto;
  // font-family: "Open Sans", sans-serif
}

// mat-button-toggle-group {
//   box-shadow: none;
//   border: none;
//   display: inline-flexbox;
// }

// mat-button-toggle {
//     border: 1px rgba(0,0,0,0) solid !important;
//     margin-top: 5px !important;
//     padding: 0 5px !important;
//     z-index: 3 !important;
// }

// mat-button-toggle:hover {
//     // border: 1px #000 solid !important;
//     background-color: rgb(170, 179, 174) !important;
//     // border-radius: 5px !important;
// }

// .mat-button-toggle-checked {
// 	  box-shadow: 0 0 30px #000 !important;
//     border: 1px #000 solid !important;
//     border-radius: 5px !important;
    // background-color: rgb(94, 92, 92) !important;
// }

// .mat-button-toggle-input {
//     background-color: none !important;
//     padding-left: 32px !important;
// }

// .example-button-row button,
// .example-button-row a {
//   margin-right: 8px;
// }